In [2]:
import pandas as pd
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv',index_col='Column')

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [ ]:
schema_df

In [ ]:
schema_df.head()

In [ ]:
schema_df.tail()

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df['Hobbyist']

In [ ]:
df['Hobbyist'].value_counts()

In [ ]:
df.iloc[0]

In [ ]:
df.loc[0:2 ,'Hobbyist':'Employment' ]

In [ ]:
df['MgrIdiot'].value_counts()

In [ ]:
schema_df.loc['MgrIdiot','QuestionText']

In [ ]:
schema_df.sort_index(ascending=False)

In [5]:
high_salary = ( df['ConvertedComp'] > 70000 )
high_salary

Respondent
1        False
2        False
3        False
4        False
5        False
         ...
88377    False
88601    False
88802    False
88816    False
88863    False
Name: ConvertedComp, Length: 88883, dtype: bool

In [6]:
df.loc[high_salary,['Country','LanguageWorkedWith','ConvertedComp']]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
9,New Zealand,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...,95179.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
...,...,...,...
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0
88879,Finland,Bash/Shell/PowerShell;C++;Python,82488.0
88882,Netherlands,C#;HTML/CSS;Java;JavaScript;PHP;Python,588012.0

In [ ]:
countries = ['Hungary','Slovakia','Russia']
filtCounties = df['Country'].isin(countries)

In [ ]:
df.loc[filtCounties,'Country']

In [ ]:
filt = df['LanguageWorkedWith'].str.contains('Python', na=False)
df.loc[filt,'LanguageWorkedWith']