In [1]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

In [2]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(people)

In [ ]:
df

In [ ]:
df['email']

In [ ]:
type(df['email'])

In [ ]:
df.email
# metodus
# df.count 
# oszlop nev
#df['count']

In [ ]:
df[['email','last']]

In [ ]:
df.columns

In [ ]:
df.iloc[0]
# integer location

In [ ]:
df.iloc[[0,2]]

In [ ]:
df.iloc[[0,2],2]
# sorok , oszlopok

In [ ]:
df.loc[[1,2],['email','last']]
# szovegesen email oszlop megadhato

In [ ]:
df.set_index('email',inplace=True)

In [ ]:
df

In [ ]:
df.index

In [ ]:
df.loc['CoreyMSchafer@gmail.com','last']

In [ ]:
df.reset_index(inplace=True)
df

In [ ]:
df['last'] == 'Doe'

In [ ]:
filt = (df['last'] == 'Doe')

In [ ]:
df[filt]

In [ ]:
df.loc[filt,'email']

In [ ]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [ ]:
df.loc[filt,'email']

In [ ]:
df.loc[~filt,'email']

In [ ]:
df.columns

In [ ]:
df.columns = ['first_name','last_name','email']

In [ ]:
df

In [ ]:
df.columns = [x.upper() for x in df.columns]

In [ ]:
df

In [ ]:
df.columns = df.columns.str.replace('_',' ')

In [ ]:
df

In [ ]:
df.rename(columns = {'FIRST NAME': 'first','LAST NAME':'last'},inplace = True)

In [ ]:
df.loc[2] = ['John','Smith','JohnSmith@email.com']

In [ ]:
df

In [ ]:
df.loc[2,['last','EMAIL']] = ['Doe','johndoe@email.com']

In [ ]:
df

In [ ]:
 filt = (df['EMAIL'] == 'johndoe@email.com')

In [ ]:
df.loc[filt,'last'] = 'Smith'

In [ ]:
df

In [ ]:
df['email'].str.lower()

In [ ]:
df['email'] = df['email'].str.lower()

In [5]:
df['email'].apply(len)

0    23
1    17
2    17
Name: email, dtype: int64

In [6]:
def update_email(email):
    return email.upper()

In [7]:
# igy nem hajtodik vegre egybol
df['email'].apply(update_email)
# ezzel viszont igen()
# df['email'].apply(update_email())

0    COREYMSCHAFER@GMAIL.COM
1          JANEDOE@EMAIL.COM
2          JOHNDOE@EMAIL.COM
Name: email, dtype: object

In [8]:
df['email'] = df['email'].apply(update_email)

In [9]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [11]:
df

   first     last                    email
0  Corey  Schafer  coreymschafer@gmail.com
1   Jane      Doe        janedoe@email.com
2   John      Doe        johndoe@email.com

In [13]:
df.apply(len)
# mibol hany db elem van adott oszlopban

first    3
last     3
email    3
dtype: int64

In [15]:
len(df['email'])

3

In [17]:
df.apply(len,axis='columns')

0    3
1    3
2    3
dtype: int64

In [18]:
df.apply(pd.Series.min)
# minden oszlopbol a legkisebb erteket veszi

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [19]:
df.apply(lambda x: x.min())

first                      Corey
last                         Doe
email    coreymschafer@gmail.com
dtype: object

In [20]:
df.applymap(len)

   first  last  email
0      5     7     23
1      4     3     17
2      4     3     17

In [23]:
df.applymap(str.lower)

   first     last                    email
0  corey  schafer  coreymschafer@gmail.com
1   jane      doe        janedoe@email.com
2   john      doe        johndoe@email.com

In [25]:
df['first'].map({'Corey':'jani','Jane':'Johanna'})
# igy ahol nem adtunk erteket, not a number lesz

0       jani
1    Johanna
2        NaN
Name: first, dtype: object

In [26]:
df['first'].replace({'Corey':'jani','Jane':'Johanna'})

0       jani
1    Johanna
2       John
Name: first, dtype: object