In [6]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}

import pandas as pd

In [2]:
people['email']

['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com']

In [3]:
df = pd.DataFrame(people)

In [4]:
df['email']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [5]:
type(df['email'])

pandas.core.series.Series

In [7]:
df.email
# metodus ->  df.count 
# oszlop nev -> df['count']

0    CoreyMSchafer@gmail.com
1          JaneDoe@email.com
2          JohnDoe@email.com
Name: email, dtype: object

In [8]:
df[['email','last']]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDoe@email.com      Doe
2        JohnDoe@email.com      Doe

In [9]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [10]:
df.iloc[0]
# integer location
# 0. row

first                      Corey
last                     Schafer
email    CoreyMSchafer@gmail.com
Name: 0, dtype: object

In [12]:
df.iloc[[0,2]]

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
2   John      Doe        JohnDoe@email.com

In [14]:
df.iloc[[0,2],2]
# sorok , oszlopok

0    CoreyMSchafer@gmail.com
2          JohnDoe@email.com
Name: email, dtype: object

In [ ]:
df.loc[[1,2],['email','last']]
# szovegesen email oszlop megadhato

In [15]:
df.set_index('email',inplace=True)

In [16]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [17]:
df.loc['CoreyMSchafer@gmail.com','last']

'Schafer'

In [42]:
df.reset_index(inplace=True)

In [ ]:
df['last'] == 'Doe'

In [ ]:
filt = (df['last'] == 'Doe')

In [ ]:
df[filt]

In [ ]:
df.loc[filt,'email']

In [ ]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [ ]:
df.loc[filt,'email']

In [ ]:
df.loc[~filt,'email']

In [27]:
df.columns

Index(['FIRST NAME', 'LAST NAME', 'EMAIL'], dtype='object')

In [29]:
df.columns = ['first_name','last_name','email']

In [24]:
df.columns = [x.upper() for x in df.columns]

In [26]:
df.columns = df.columns.str.replace('_',' ')

In [ ]:
df.rename(columns = {'FIRST NAME': 'first','LAST NAME':'last'},inplace = True)

In [ ]:
df.loc[2] = ['John','Smith','JohnSmith@email.com']

In [ ]:
df.loc[2,['last','EMAIL']] = ['Doe','johndoe@email.com']

In [ ]:
 filt = (df['EMAIL'] == 'johndoe@email.com')

In [ ]:
df.loc[filt,'last'] = 'Smith'

In [30]:
df['email'].str.lower()

0    schafer
1        doe
2        doe
Name: email, dtype: object

In [ ]:
df['email'] = df['email'].str.lower()

In [31]:
df['email'].apply(len)

0    7
1    3
2    3
Name: email, dtype: int64

In [32]:
def update_email(email):
    return email.upper()

In [33]:
# igy nem hajtodik vegre egybol
df['email'].apply(update_email)

# ezzel viszont igen()
# df['email'].apply(update_email())

0    SCHAFER
1        DOE
2        DOE
Name: email, dtype: object

In [ ]:
df['email'] = df['email'].apply(update_email)

In [ ]:
df['email'] = df['email'].apply(lambda x: x.lower())

In [34]:
df.apply(len)
# mibol hany db elem van adott oszlopban

first_name    3
last_name     3
email         3
dtype: int64

In [35]:
len(df['email'])

3

In [36]:
df.apply(len,axis='columns')

0    3
1    3
2    3
dtype: int64

In [37]:
df.apply(pd.Series.min)
# minden oszlopbol a legkisebb erteket veszi

first_name    CoreyMSchafer@gmail.com
last_name                       Corey
email                             Doe
dtype: object

In [38]:
df.apply(lambda x: x.min())

first_name    CoreyMSchafer@gmail.com
last_name                       Corey
email                             Doe
dtype: object

In [39]:
df.applymap(len)

   first_name  last_name  email
0          23          5      7
1          17          4      3
2          17          4      3

In [40]:
df.applymap(str.lower)

                first_name last_name    email
0  coreymschafer@gmail.com     corey  schafer
1        janedoe@email.com      jane      doe
2        johndoe@email.com      john      doe

In [45]:
df['first_name'].map({'Corey':'jani','jane':'Johanna'})
# igy ahol nem adtunk erteket, not a number lesz

0    NaN
1    NaN
2    NaN
Name: first_name, dtype: object

In [46]:
df['first_name'].replace({'Corey':'jani','Jane':'Johanna'})

KeyError: 'first'