In [28]:
import pandas as pd
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv',index_col='Column')

In [34]:
country = ['Hungary']
df_hungary = df.loc[df['Country'] == 'Hungary']

In [9]:
df_hungary.shape

(513, 84)

In [3]:
countries = ['Hungary','Slovakia','Russia']
filtCounties = df['Country'].isin(countries)

In [5]:
east_countries.shape

(773, 3)

In [6]:
df_hungary['MgrIdiot'].value_counts()

Somewhat confident        158
Very confident            111
Not at all confident       72
I don't have a manager     15
Name: MgrIdiot, dtype: int64

In [4]:
df_hungary['ConvertedComp'].value_counts()

25980.0     16
43308.0     13
21648.0     11
34644.0     11
38976.0     10
            ..
126300.0     1
16020.0      1
95000.0      1
45468.0      1
25152.0      1
Name: ConvertedComp, Length: 155, dtype: int64

In [8]:
high_salary = ( df_hungary['ConvertedComp'] > 70000 )
low_salary = ( df_hungary['ConvertedComp'] < 70000 )
# na_salary = ( df_hungary['ConvertedComp'] = NaN )

In [6]:
df_hungary_aboveAvg_Salary = df_hungary.loc[high_salary,['LanguageWorkedWith','ConvertedComp']]
df_hungary_belowHigh_Salary = df_hungary.loc[low_salary,['LanguageWorkedWith','ConvertedComp']]

In [11]:
df_hungary_aboveAvg_Salary.shape

(20, 2)

In [10]:

df_hungary_belowHigh_Salary.shape

(309, 2)

In [20]:
countries = ['Hungary','Slovakia','Russia']
filtCounties = df['Country'].isin(countries)
filtPy = df['LanguageWorkedWith'].str.contains('Python', na=False)
filtNotJav = ~df['LanguageWorkedWith'].str.contains('Java', na=False)
eastCountriesPy = filtCounties & filtPy & filtNotJav
eastCountries = df.loc[eastCountriesPy,['Country','LanguageWorkedWith','ConvertedComp']]
eastCountries

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
1565,Hungary,Bash/Shell/PowerShell;C++;Python;Scala,47640.0
2144,Hungary,Bash/Shell/PowerShell;C++;Python,56292.0
3967,Hungary,C;C++;C#;Python;R,NaN
4746,Slovakia,Bash/Shell/PowerShell;Python;Other(s):,618708.0
4940,Hungary,Bash/Shell/PowerShell;C;Python;Ruby,NaN
...,...,...,...
86241,Hungary,C++;Python,36087.0
86996,Hungary,Bash/Shell/PowerShell;C++;HTML/CSS;PHP;Python,NaN
87707,Hungary,HTML/CSS;Python,NaN
88181,Hungary,Bash/Shell/PowerShell;HTML/CSS;PHP;Python,NaN
88726,Slovakia,Bash/Shell/PowerShell;Python,89364.0

In [ ]:
https://simple.wikipedia.org/wiki/List_of_U.S._states

In [12]:
east_countries.shape

(773, 3)