In [38]:
import pandas as pd

# survey_public_link = 'C:/Users/asusu/Documents/REPO/data/survey_results_public.csv'
# survey_schema_link = 'C:/Users/asusu/Documents/REPO/data/survey_results_schema.csv'

survey_public_link = 'C:/Users/Erik_Dubrovszkij/Documents/REPOS/survey_results_public.csv'
survey_schema_link = 'C:/Users/Erik_Dubrovszkij/Documents/REPOS/survey_results_schema.csv'

In [39]:
df = pd.read_csv(survey_public_link, index_col='Respondent')
schema_df = pd.read_csv(survey_schema_link,index_col='Column')

In [3]:
df['ConvertedComp'].head(15)

Respondent
1          NaN
2          NaN
3       8820.0
4      61000.0
5          NaN
6     366420.0
7          NaN
8          NaN
9      95179.0
10     13293.0
11         NaN
12         NaN
13     90000.0
14     57060.0
15         NaN
Name: ConvertedComp, dtype: float64

In [4]:
df['ConvertedComp'].median()

57287.0

In [5]:
# mindenhol ahol ertelmezve lehet, mediant nez, oszlop
df.median()

CompTotal        62000.0
ConvertedComp    57287.0
WorkWeekHrs         40.0
CodeRevHrs           4.0
Age                 29.0
dtype: float64

In [6]:
df.describe()

          CompTotal  ConvertedComp   WorkWeekHrs    CodeRevHrs           Age
count  5.594500e+04   5.582300e+04  64503.000000  49790.000000  79210.000000
mean   5.519014e+11   1.271107e+05     42.127197      5.084308     30.336699
std    7.331926e+13   2.841523e+05     37.287610      5.513931      9.178390
min    0.000000e+00   0.000000e+00      1.000000      0.000000      1.000000
25%    2.000000e+04   2.577750e+04     40.000000      2.000000     24.000000
50%    6.200000e+04   5.728700e+04     40.000000      4.000000     29.000000
75%    1.200000e+05   1.000000e+05     44.750000      6.000000     35.000000
max    1.000000e+16   2.000000e+06   4850.000000     99.000000     99.000000

In [7]:
# az osszes megadott ertek 80k = 50k kitoltotte + 30k NaN
df['ConvertedComp'].count()

55823

In [8]:
df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [9]:
schema_df.loc['SocialMedia']

QuestionText    What social media site do you use the most?
Name: SocialMedia, dtype: object

In [10]:
df['SocialMedia'].value_counts()

Reddit                      14374
YouTube                     13830
WhatsApp                    13347
Facebook                    13178
Twitter                     11398
Instagram                    6261
I don't use social media     5554
LinkedIn                     4501
WeChat 微信                     667
Snapchat                      628
VK ВКонта́кте                 603
Weibo 新浪微博                     56
Youku Tudou 优酷                 21
Hello                          19
Name: SocialMedia, dtype: int64

In [11]:
# in percantage
df['SocialMedia'].value_counts(normalize=True)

Reddit                      0.170233
YouTube                     0.163791
WhatsApp                    0.158071
Facebook                    0.156069
Twitter                     0.134988
Instagram                   0.074150
I don't use social media    0.065777
LinkedIn                    0.053306
WeChat 微信                   0.007899
Snapchat                    0.007437
VK ВКонта́кте               0.007141
Weibo 新浪微博                  0.000663
Youku Tudou 优酷              0.000249
Hello                       0.000225
Name: SocialMedia, dtype: float64

In [12]:
df['Country'].value_counts()

United States                       20949
India                                9061
Germany                              5866
United Kingdom                       5737
Canada                               3395
                                    ...
North Korea                             1
Saint Kitts and Nevis                   1
Saint Vincent and the Grenadines        1
Timor-Leste                             1
Papua New Guinea                        1
Name: Country, Length: 179, dtype: int64

In [17]:
country_grp = df.groupby(['Country'])

In [14]:
country_grp.get_group('Hungary')

,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
Respondent,,,,,,,,,,,,,,,,,,,,,
183,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Hungary,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Not applicable - I did not use Stack Overflow ...,Tech meetups or events in your area,30.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
400,I am a developer by profession,No,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Hungary,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,48.0,Man,No,NaN,White or of European descent,Yes,Too long,Neither easy nor difficult
830,I am a developer by profession,No,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Hungary,No,"Secondary school (e.g. American high school, G...",NaN,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Courses on technologies you're interested in,36.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1177,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,Hungary,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,23.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
1212,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed part-time,Hungary,"Yes, full-time","Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,22.0,Woman,No,Bisexual,White or of European descent,No,Appropriate in length,Easy
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88204,"I am not primarily a developer, but I write co...",Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Hungary,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Cour...,40.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
88265,I am a developer by profession,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Hungary,"Yes, part-time","Master’s degree (MA, MS, M.Eng., MBA, etc.)","Another engineering discipline (ex. civil, ele...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,Tech articles written by other developers,28.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
88645,"I am not primarily a developer, but I write co...",Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Hungary,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",Mathematics or statistics,Taken an online course in programming or softw...,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,NaN,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
51801,NaN,Yes,Less than once per year,The quality of OSS and closed source software ...,Employed full-time,Hungary,No,Some college/university study without earning ...,"Information systems, information technology, o...",Taken an online course in programming or softw...,...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,NaN,Man,No,NaN,Middle Eastern,No,Appropriate in length,Neither easy nor difficult
60630,NaN,No,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...","Independent contractor, freelancer, or self-em...",Hungary,No,"Professional degree (JD, MD, etc.)","Computer science, computer engineering, or sof...","Taught yourself a new language, framework, or ...",...,Just as welcome now as I felt last year,NaN,25.0,Man,No,Straight / Heterosexual,East Asian;White or of European descent;Multir...,Yes,Too long,Neither easy nor difficult

In [18]:
# the filter is the give thesame result
filt = df['Country'] == 'Hungary'
df.loc[filt]['SocialMedia'].value_counts()

Facebook                    181
YouTube                     100
Reddit                       67
I don't use social media     49
Twitter                      34
Instagram                    30
LinkedIn                     21
WhatsApp                      9
Snapchat                      1
Name: SocialMedia, dtype: int64

In [22]:
# country_grp['SocialMedia'].value_counts().head(50)
# country_grp['SocialMedia'].value_counts().loc['Romania']
country_grp['SocialMedia'].value_counts(normalize=True).loc['Hungary']

SocialMedia
Facebook                    0.367886
YouTube                     0.203252
Reddit                      0.136179
I don't use social media    0.099593
Twitter                     0.069106
Instagram                   0.060976
LinkedIn                    0.042683
WhatsApp                    0.018293
Snapchat                    0.002033
Name: SocialMedia, dtype: float64

In [23]:
country_grp['ConvertedComp'].median().loc['Hungary']

26412.0

In [24]:
country_grp['ConvertedComp'].agg(['median','mean']).loc['Hungary']

median    26412.000000
mean      33823.553191
Name: Hungary, dtype: float64

In [25]:
filt = df['Country'] == 'Hungary'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

191

In [30]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              8
Albania                                 23
Algeria                                 40
Andorra                                  0
Angola                                   2
                                        ..
Venezuela, Bolivarian Republic of...    28
Viet Nam                                78
Yemen                                    3
Zambia                                   4
Zimbabwe                                14
Name: LanguageWorkedWith, Length: 179, dtype: int64

In [33]:
country_respondent = df['Country'].value_counts()

In [34]:
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

In [35]:
merged_df = pd.concat([country_respondent,country_uses_python], axis = 'columns', sort = False)
merged_df

                                  Country  LanguageWorkedWith
United States                       20949               10083
India                                9061                3105
Germany                              5866                2451
United Kingdom                       5737                2384
Canada                               3395                1558
...                                   ...                 ...
North Korea                             1                   0
Saint Kitts and Nevis                   1                   0
Saint Vincent and the Grenadines        1                   0
Timor-Leste                             1                   1
Papua New Guinea                        1                   0

[179 rows x 2 columns]

In [36]:
merged_df.rename(columns={'Country':'NumCorespondents','LanguageWorkedWith':'WorkedWithPy'},inplace=True)

In [37]:
# merged_df
# (part / whole ) * 100
merged_df['pctNumKnowPy'] = (merged_df['WorkedWithPy'] / merged_df['NumCorespondents'] ) * 100
merged_df

                                  NumCorespondents  WorkedWithPy  pctNumKnowPy
United States                                20949         10083     48.131176
India                                         9061          3105     34.267741
Germany                                       5866          2451     41.783157
United Kingdom                                5737          2384     41.554820
Canada                                        3395          1558     45.891016
...                                            ...           ...           ...
North Korea                                      1             0      0.000000
Saint Kitts and Nevis                            1             0      0.000000
Saint Vincent and the Grenadines                 1             0      0.000000
Timor-Leste                                      1             1    100.000000
Papua New Guinea                                 1             0      0.000000

[179 rows x 3 columns]

In [ ]:
merged_df.sort_values(by='pctNumKnowPy',ascending=False,inplace=True)
merged_df